<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>商品登録画面</title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" th:href="@{/css/product-login.css}">
</head>

<body>
    <header>
        <div class="header-logo"><img th:src="@{../img/Logo.png}" alt=""></div>
        <nav>
            <ul class="menu">
                <li><a href="#">商品一覧</a></li>
                <li><a href="#">商品登録</a></li>
                <li><a href="#">商品編集</a></li>
                <li><a href="#">商品削除</a></li>
                <li><a href="#">ログアウト</a></li>
                <i class='bx bx-search-alt-2'><input type="text" placeholder="検索欄"></i>
            </ul>
        </nav>
    </header>
    <main>
        <form th:action="@{/admin/product/register}" enctype="multipart/form-data" method="post">
            <section class="product-login">
                <h2>新たな商品を追加</h2>
                <div class="list">
                    <div class="title-1">
                        <div class="label">商品名前</div>
                        <div><input type="text" name="productName"></div>
                    </div>
                    <div class="title-1">
                        <div class="label">商品値段</div>
                        <div><input type="text" name="productPrice"></div>
                    </div>
                    <div class="title-1">
                        <div class="label">商品画像</div>
                        <div><input type="file" name="productImg"></div>
                    </div>
                    <div class="title-1">
                        <div class="label">商品詳細</div>
                        <div><textarea name="productDetail" id="" cols="32" rows="10"></textarea></div>
                    </div>
                    <div class="title-1">
                        <div class="label">商品登録日</div>
                        <div><input type="date" name="registerDate"></div>
                    </div>
                </div>
            </section>
            <div class="button">
                <input class="toroku" type="submit" value="登録">
                <input class="toroku" type="submit" value="キャンセル">
            </div>
        </form>
    </main>
</body>

</html>