*{
    padding: 0;
    margin: 0;
    /*点を除く*/
    list-style: none;
    /*下の線を除く*/
    text-decoration: none;
    /*文字*/
    color: black;
}

/*タイトルの部分*/
header{
    /*背景透明する*/
    background-color: transparent;
    /*メニュー文字横並び*/
    display: flex;
    /*【logo】と【メニュー文字】を分ける*/
    justify-content: space-between;
    /*垂直*/
    align-items: center;
    /*上下の距離*/
    padding: 10px 0;
    /*ヘッダー部分を固定*/
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}

body{
    /*上下の距離*/
    padding-top: 200px;
    /*背景図*/
    background-image: url(/img/adminlogin.jpg);
    /*背景図サイズ*/
    background-size: cover;
}


/*【logo】の部分*/
.header-logo{
    width: 100px;
    /*辺との距離*/
    margin: 10px;
}

/*logoの画像のサイズ*/
.header-logo img{
    width: 100%;
}

/*【メニュークラス】の部分*/
.menu{
    /*文字横並び*/
    display: flex;
    /*文字間の距離*/
    gap: 0 20px;
    /*文字対辺の距離*/
    margin-right: 30px;
}

/*【新たな商品を追加】タイトルの部分*/
.product-login h2{
    /*真ん中*/
    text-align: center;
    /*文字色*/
    color: rgb(63, 72, 97);
}

/**/
.product-login{
    /*文字データの比率並ぶ*/
    width: 90%;
    margin: 0 auto;
}

/*【登録内容】の部分*/
.list{
    /*透明する*/
    background: transparent;
    /*背景朦朧*/
    backdrop-filter: blur(10px);
    border: 1px solid rgb(199, 195, 195);
    box-shadow: 0 0 50px rgb(199, 195, 195);
    /*真ん中*/
    text-align: center;
    margin: 50px auto;
    width: 400px;
}

/*【商品】シリーズ*/
.label{
    width: 100px;
    margin: 8px;
    /*文字色*/
    color: #fff;
}

.title-1{
    /*テキストと文字の距離*/
    display: flex;
    gap: 0 20px;
    /*【文字】【入力欄】間の距離*/
    margin: 20px 0;
}

/*【入力欄】の部分*/
.title-1 input{
    /*入力欄背景色*/
    background-color: rgb(217, 238, 237);
    /*角曲がるの修正*/
    border-radius: 5px;
}

/*【商品詳細】のテキストの固定*/
textarea{
    resize: vertical;
}

/*【ボタン】の部分*/
.button{
    text-align: center;
}

.toroku:hover{
    background-color: rgb(217, 238, 237);
}


/*【登録】【キャンセル】の部分*/
input{
    /*選択ヒント*/
    border: 2px solid transparent;
    /*入力文字サイズ*/
    font-size: 16px;
    /*文字サイズ*/
    font-weight: 200;
    /*入力欄サイズ*/
    padding: 2px 0;
    /*入力欄の長さ*/
    width: 250px;
    /**/
    box-sizing: border-box;
}

/*【登録ボタン】の部分*/
.button input{
    /*角曲がるの修正*/
    border-radius: 5px;
}


/*【商品詳細】の部分*/
textarea{
    /*入力欄背景色*/
    background-color: rgb(217, 238, 237);
    /*角曲がるの修正*/
    border-radius: 5px;
}

/*【削除】の部分*/
.delete{
    width: 200px;
    margin: 30px;
}

.delete:hover{
    background-color: rgb(217, 238, 237);
}

.bx-search-alt-2 input{
    /*角曲がるの修正*/
    border-radius: 5px;
}